@media (min-width: 600px) {



    .footer-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .nav-large {
        display: inline;
        position: relative;
    }
 .nav-large ul {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
  }

  .bars {
    display: none;
  }
}