@media (min-width: 600px) {
    .cta-small {
        padding: 10px;
    }
}

@media (min-width: 800px) {

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.nav-large {
    display: block;
    position: static;
    width: 100%;
    font-family: var(--menu-font);
}

.nav-large ul {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    position: static;  
}

.bars {
    display: none;
}

h1 {
    font-size: 2rem;
}

.hero-image h2, .second-hero h2  {
    font-size: 2rem;
}

.cta {
    font-size: 2rem;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cta-small {
        padding: 10px;
        font-size: 1rem;
    }

.card-text {
    font-size: 1.2rem;
}
}