@media (min-width: 600px) {
    
.cta-small {        
    padding: 10px;
}

.br-small {
    display: none;
}

}

@media (min-width: 800px) {

header {
    display: flex;
    flex-direction: column;
}

.header-top {
    justify-items: flex-end;
}

.close-button {
    display: none;
}

.bars {
    display: none;
}

.brand-name {
    font-size: 3rem;
}

.nav-large {
    display: block;
    position: static;
    width: 100%;
    font-family: var(--page-font);
    font-weight: bolder;
}

.nav-large ul {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    position: static;  
    font-size: 1rem;
}

.hero-image img, .second-hero img {
    width: auto;
    height: 40rem;
    object-fit: cover;
}

.hero-image h1, .second-hero h2  {
    font-size: 2rem;
}

.cta {
    font-size: 1rem;
    width: 30%;
}

.cta-small {
    padding: 0.8rem;
    font-size: 0.8rem;
}

h4 {
    font-size: 1.2rem;
}

img {
    width: auto;
    height: 30rem;
    object-fit: cover;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 20px solid #000;
}

.card-text {
    font-size: 1.2rem;
}

.card-text:hover {
    background-color: #fff;
    color: #000;
    border: 30px solid #fff;
}

.card-cosmology:hover {
background-color: #521413;
border: 30px solid #521413;
}

.card-robotics:hover {
    background-color: #B800E5;
    border: 30px solid #B800E5;
}

.card-evolution:hover {
    background-color: #DBD5CA;
    border: 30px solid #DBD5CA;
}

.card-ecology:hover {
    background-color: #1C889E;
    border: 30px solid #1C889E;
}

.card-biology:hover {
    background-color: #D75F45;
    border: 30px solid #D75F45;
}

.text-section {
    padding: 5rem;
}

.card-text, .card-cosmology, .card-robotics, .card-evolution, .card-ecology, .card-biology {
    animation: none;
}

.navigation-pages {
    font-size: 1.3rem;
}

.form-layout {
    flex-direction: row;
}

.form-left, .form-right {
    flex: 1;
}

}
