@import "variables.css";

@font-face {
    font-family: "ZenDots-Regular";
    src: url(/fonts/ZenDots-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Unbounded-Regular";
    src: url(/fonts/Unbounded-Regular.ttf) format("truetype");
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

header, footer {
    background-color: var(--header-color);
    color: var(--light-text-color);
    gap: 10px;
    padding: 5px;
}

.index-h1, .brand-name {
    flex: 1;
    font-size: 1rem;
    text-align: center;
    font-family: var(--brand-font);
}

.bars {
    font-size: 28px;
}

header img, footer img {
    width: 20%;
    height: 100%;
}

header, .header-top, .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.nav-large {
    background-color: var(--header-color);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    line-height: 2rem;
    z-index: 1;
}

.close-button {
    float: right;
    font-size: 24px;
    background-color: var(--header-color);
    color: var(--light-text-color);
    margin-right: 10px;
}

li:hover, .active {
    text-decoration: underline;
}

#menu-checkbox:checked ~ .nav-large {
    display: block;
    background-color: var(--header-color);
    font-family: var(--page-font);
    font-weight: bolder;
}

.nav-large, #menu-checkbox {
    display: none;
}

.navigation-arrows {
    color: var(--dark-text-color);
    padding: 10px;
    font-family: var(--page-font);
}

.navigation-pages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-nav li{
    text-align: left;
    font-family: var(--page-font);
}

.attribution {
    font-size: 0.6rem;
}

address {
    font-style: normal;
}

h1, h2, h3, h4, p {
    font-family: var(--page-font);
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
} 

h2 {
    text-align: center;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-weight: lighter;
    font-size: 1rem;
}

p {
    text-align: left;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    padding: 0px;
    margin: 0px;
}

li {
    list-style-type: none;
    text-align: center;
    padding-top: 25px;
}

.cta {
    width: 70%;
    background-color: var(--cta-background-color);
    color: var(--dark-text-color);
    font-family: var(--page-font);
    padding: 15px;
    font-size: 1rem;
    flex: 1;
    text-align: center;
    align-self: center;
    top: 75%;
    box-shadow: 0px 10px 10px #a3a1a1;
    margin-top: 5%;
}

.cta-small {
    width: 100%;
    background-color: var(--cta-background-color);
    color: var(--dark-text-color);
    font-family: var(--page-font);
    padding: 5px;
    font-size: 0.5rem;
    flex: 1;
    text-align: center;
    align-self: center;
    position: absolute;
    top: 90%;
    box-shadow: 0px 10px 10px #a3a1a1;
}

.cta:hover {
    border: solid 1px #000;
}

.content-card {
    display: flex;
    flex-direction: column;
    background-color: var(--card-background);
    border: 30px solid #DFE8FD;
    margin: 20px;
}

.content-card img {
    border-radius: 10px;
}

/**index page**/

.hero-image, .second-hero, .color-card {
    display: flex;
    flex-direction: column;
    position: relative;
}

.hero-image h1, .second-hero h2 {
    width: 100%;
    background-color: var(--header-color);
    color: var(--light-text-color);
    font-family: var(--page-font);
    position: absolute;
    top: 25%;
    text-align: center;
    padding: 10px;
}

.cta-index {
     position: absolute;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.card-text {
    font-size: 0.7rem;
    text-align: center;
    background-color: #000;
    color: var(--light-text-color);
    animation-name: text;
    animation-duration: 5s;
    animation-delay: 10s;
    border: 30px solid #000;
    flex: 1;
    align-content: center;
}

@keyframes text {
    from {background-color: #000;}
    to {background-color: #fff;}
    from {border: 30px solid #000;}
    to {border: 30px solid #fff;}
    from {color: var(--light-text-color)} 
    to {color: var(--dark-text-color);}
}

.card-cosmology {
    animation-name: cosmology;
    animation-duration: 5s;
    animation-delay: 20s;
    border: 30px solid #000;
}

@keyframes cosmology {
    from {background-color: #000;}
    to {background-color: #521413;}
    from {border: 30px solid #000;}
    to { border: 30px solid #521413;}
}

.card-robotics {
    animation-name: robotics;
    animation-duration: 5s;
    animation-delay: 25s;
    border: 30px solid #000;
}

@keyframes robotics {
    from {background-color: #000;}
    to {background-color: #B800E5;}
    from {border: 30px solid #000;}
    to { border: 30px solid #B800E5;}
}

.card-evolution {
    animation-name: evolution;
    animation-duration: 5s;
    animation-delay: 30s;
    border: 30px solid #000;
}

@keyframes evolution {
    from {background-color: #000;}
    to {background-color: #DBD5CA;}
    from {border: 30px solid #000;}
    to { border: 30px solid #DBD5CA;}
}

.card-ecology {
    animation-name: ecology;
    animation-duration: 5s;
    animation-delay: 35s;
    border: 30px solid #000;
}

@keyframes ecology {
    from {background-color: #000;}
    to {background-color: #1C889E;}
    from {border: 30px solid #000;}
    to { border: 30px solid #1C889E;}
}

.card-biology {
    animation-name: biology;
    animation-duration: 5s;
    animation-delay: 40s;
    border: 30px solid #000;
}

@keyframes biology {
    from {background-color: #000;}
    to {background-color: #D75F45;}
    from {border: 30px solid #000;}
    to { border: 30px solid #D75F45;}
}

.color-card {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #000;
    color: var(--light-text-color);
}

.evolution-card img {
     object-position: top;
}

.color-card img {
    align-self: center;
    width: 80%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 25%;
}

.text-section {
    padding: 10px 20px;
    background-color: #F6F4E9;
    text-align: center;
}

.contact-page p, .visit-page p, .thanks-page p {
    text-align: center;
}

/**Visit us page**/

.visit-img {
    max-width: 100%;
    border-radius: 10px;
    border: 20px solid #DFE8FD;   
}

.location, .accessibility {
    display: flex;
    flex-direction: column;
    background-color: #DFE8FD;
    padding: 20px;
    margin-bottom: 20px;
}

table {
    font-family: var(--page-font);
    text-align: center;
}

/**Contact us page**/

input, textarea, label {
    border: none;
    font-family: var(--page-font);
}

label {
    margin: 10px 0px;
}

input:hover {
    border: solid 1px #000;
}

#name, #email {
    padding: 10px;
}

.form-layout {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.form-left, .form-right {
    display: flex;
    flex-direction: column;
}

textarea {
    resize: vertical;
}

.submit {
    display: flex;
    justify-self: center;
    width: 70%;
}

.fa-circle-exclamation {
    color: rgb(189, 32, 32);
}

.required {
    align-self: flex-start;
}

/**Thank you page**/

.spinning-logo {
    width: 250px;
    height: auto;
    align-self: center;
    animation: spin 1s linear;
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
