:root {
    --header-color: #2F1D72;
    --footer-color: #2F1D72;
    --light-text-color: #ffffff;
    --dark-text-color: #000000; 
    --cta-background-color: #fff;
    --card-background: #DFE8FD;
    --brand-font: "ZenDots-Regular";
    --page-font:"Unbounded-Regular";
}